.cloud/*
.storage/*
.vscode/*
.homekit.state
*.pem
*.key
*.jpg
*.db
*.mp3
webostv.conf
home-assistant.log
secrets.yaml
known_devices.yaml
home-assistant_v2*
docker-restart.sh
.HA_VERSION
www/
docker-compose.yaml
homeassistant-ec281e42879c.json
homeassistant-google.json
