## Configure a default setup
default_config:
# lovelace mode
lovelace:
  mode: yaml

logger:
  default: error

network:

frontend:
  themes: !include_dir_merge_named themes

homeassistant:
  customize: !include config/customize.yaml
  internal_url: "http://192.168.1.230:8123"
  allowlist_external_urls:
    - "https://home.olender.me"

tts: !include config/tts.yaml
# stt: !include config/stt.yaml
zone: !include config/zone.yaml
http: !include config/http.yaml
cover: !include config/cover.yaml
script: !include config/scripts.yaml
scene: !include config/scenes.yaml
alexa: !include config/alexa/alexa.yaml
sonos: !include config/sonos.yaml
camera: !include config/camera.yaml
notify: !include config/notify.yaml
homekit: !include config/homekit.yaml
switch: !include config/switch.yaml
remote: !include config/remote.yaml
recorder: !include config/recorder.yaml
prometheus: !include config/prometheus.yaml
automation: !include_dir_merge_list config/automation
input_select: !include config/input_select.yaml
template: !include config/template.yaml