# # Thermo
# - platform: template
#   switches:
#     thermoseason:
#       friendly_name: "Thermo Season"
#       value_template: "{{ is_state('input_select.thermo_season', 'ON') }}"
#       turn_on:
#         - service: input_select.select_option
#           data:
#             entity_id: input_select.thermo_season
#             option: "ON"
#       turn_off:
#         - service: input_select.select_option
#           data:
#             entity_id: input_select.thermo_season
#             option: "OFF"
#       icon_template: >-
#                 {% if is_state('input_select.thermo_season', 'ON') %}
#                   mdi:radiator
#                 {% else %}
#                   mdi:radiator-disabled
#                 {% endif %} 

# # SRE Alerts
#     srealerts:
#       friendly_name: "SRE Alerts"
#       value_template: "{{ is_state('input_select.sre_alerts', 'ON') }}"
#       turn_on:
#         - service: input_select.select_option
#           data:
#             entity_id: input_select.sre_alerts
#             option: "ON"
#       turn_off:
#         - service: input_select.select_option
#           data:
#             entity_id: input_select.sre_alerts
#             option: "OFF"
#       icon_template: >-
#                 {% if is_state('input_select.sre_alerts', 'ON') %}
#                   mdi:alert-decagram
#                 {% else %}
#                   mdi:alert-decagram-outline
#                 {% endif %} 
